# Assignment 6

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [2]:
print("Mia Roselinsky")

Mia Roselinsky

<font size = "5">

Import the "pandas" and "matplotlib.pyplot" library

In [3]:
# Write your answer here:

import pandas as pd

import matplotlib.pyplot as plt

<font size = "5">

(a) Compute function for each individual (map)

<font size = "3">

- Import the datset "data/investment.csv"
- Write a lambda function for $V = P/(1+r)$.
- Use ```list(map(...))``` to calculate $V$ for each row of the dataset

In [4]:
# Write your own code here
data = pd.read_csv("data/investment.csv")

V =  lambda P,r: P / (1+r)

list(map(V, data["P"], data["r"]))

[990.09900990099,
 1960.7843137254902,
 485.43689320388347,
 769.2307692307692,
 370.3703703703703]

<font size = "5">

(b) Convert to upper case

<font size = "3">

- Create the following function to convert a string to upper case

$\quad$ ``` fn_upper = lambda x: x.upper() ```

- Create a new column, "countryname_upper"  <br>
that converts "countryname" to upper case.

In [14]:
# Write your own code here

fn_upper = lambda x: x.upper()

countryname_upper= fn_upper(countryname)

NameError: name 'countryname' is not defined

<font size = "5">
For questions (b)-(d), read "data/wdi_2020.csv"

<font size = "5">

(c) Extract sorted elements from a dataset

<font size = "3">

- Sort by "prop_urbanpopulation" in descending order
- Subset the 5 countries with the highest urban population

In [10]:
# Write your code here
wdi2020 = pd.read_csv("data/wdi_2020.csv")

wdi2020_prop_urbanpopulation = wdi2020.sort_values(by = "prop_urbanpopulation", ascending = False)
display(wdi2020_prop_urbanpopulation)

display(wdi2020_prop_urbanpopulation.iloc[0:5,:])

     year yearcode               countryname countrycode  prop_urbanpopulation
212  2020   YR2020                 Singapore         SGP               100.000
147  2020   YR2020          Macao SAR, China         MAC               100.000
40   2020   YR2020            Cayman Islands         CYM               100.000
90   2020   YR2020                 Gibraltar         GIB               100.000
103  2020   YR2020      Hong Kong SAR, China         HKG               100.000
..    ...      ...                       ...         ...                   ...
34   2020   YR2020                   Burundi         BDI                13.708
191  2020   YR2020          Papua New Guinea         PNG                13.345
127  2020   YR2020                    Kosovo         XKX                   NaN
183  2020   YR2020            Not classified         INX                   NaN
227  2020   YR2020  St. Martin (French part)         MAF                   NaN

[266 rows x 5 columns]

     year yearcode           countryname countrycode  prop_urbanpopulation
212  2020   YR2020             Singapore         SGP                 100.0
147  2020   YR2020      Macao SAR, China         MAC                 100.0
40   2020   YR2020        Cayman Islands         CYM                 100.0
90   2020   YR2020             Gibraltar         GIB                 100.0
103  2020   YR2020  Hong Kong SAR, China         HKG                 100.0

<font size = "5">

(d) Subset elements with query

<font size = "3">

- Compute the median of "prop_urbanpopulation"
- Use ".query()" to subset countries with <br>
 "prop_urbanpopulation" above the median

In [13]:
# Write your own code here

<font size = "5">

(e) Plot by category

<font size = "3">

- Read "data/wdi_urban.csv"<br>
This contains data from 1980 and 2020

- Create a list with the unique values of "year"
- Create a plot with a ...
    - Histogram of "prop_urbanpopulation" <br>
    for each year
    - Set the histogram option ``` alpha = 0.5 ``` for transparency
    - All the histograms should be overlapping
    - Create a legend with the list of years
    - Label the axes and the title

What do we learn from the graph?

HINT: See the example at the end of Lecture 10

In [ ]:
# Write your own code here